@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap');
@keyframes slideInLeft {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(+500px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  block-size: 100%;
  inline-size: 100%;
}

h2{
  font-size: 35px;
  font-style: italic;
}

h3{
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  top: -25px;
  position: relative; 

}
*{ 
  font-family: 'Readex Pro', sans-serif;
}
/*-------------------Primary Title-------------------*/
/*Target everything and put it at a margin of 0*/
.primary-title{
  font-size: 90px;
  color: rgba(255,255,255);
  animation: fadeIn  0.6s, slideInLeft 0.6s ease-in;
  max-width: 570px;
  right: -495px;
  
  position: relative;
  transition: opacity 1s ease-in-out;

}

.primary-title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px; right: 0px; left: 0px;
  bottom: -15px;
  border-radius: 100px;
  background: hsla(7, 85%, 49%, 0.397);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

/*Red Background around Hero Placement*/
.primary-title:hover::before {
  display: block;
  opacity: 1;
  bottom: -15px;
  animation: fadeIn 0.5s fadeOut 0.5s ease-in-out;
  backface-visibility: hidden;
  border-radius: 100px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
 /*transform-origin: bottom left;*/
}


@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
/*--------------------Primary and Secondary Buttons---------------------------*/

.primary-button{
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(254,48,114), rgb(255,89,64));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  transition:all 0.3s;
  animation: fadeIn 1s;
}
.primary-button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px; right: 0px; left: 0px;
  size: 100
  ;
  border-radius: 100px;
  background: hsla(7, 85%, 49%, 0.223);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  height: 70px;
  width: 220px;
  top: -10px;
  left: -10px;
}

/*Red Background around Hero Placement*/
.primary-button:hover::before {
  display: block;
  opacity: 1;
  animation: fadeIn 0.5s fadeOut 0.5s ease-in-out;
  backface-visibility: hidden;
  height: 70px;
  width: 220px;
  top: -10px;
  left: -10px;

  border-radius: 100px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
 /*transform-origin: bottom left;*/
}


.primary-button:hover{
  transform: translateY(-10px);
  background: linear-gradient(260deg, rgb(254,48,114), rgb(255,89,64));
}

.secondary-button{
  color: rgb(121,119,119);
  background-color: rgb(255,255,255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121,119,119);
  margin: 6px;
  transition: all 0.3s;
}

.secondary-button:hover {
  color: rgb(207, 89, 78);
  background-color: rgb(235,235,235);
  transform: translateY(-5px);
  border: solid 2px rgb(48,48,48);
}

.secondary-button:active{
  color: rgb(235,235,235);
  background-color: rgb(226,115,155);
}

.secondary-button::after{
  animation: preloader .6s ease-in-out alternate infinite;
}
/*-------------------Body-------------------*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
}
/*---------Navbar------------*/
nav{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: rgb(254,48,114);
  background-color: rgb(255,255,255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  animation: fadeIn 1s;
  transition:all 0.3s;
}

nav .nav-button:disabled{
background-color: rgb(221, 164, 182);
color: rgb(243, 180, 180) ;
}

nav .nav-button:hover{
  transform: translateY(+10px);
  background-color: rgb(254,48,114);
  color: rgb(255,255,255);
}

nav .logo_container{
  width: 170px;
  height: 60%;
}

nav .logo_container .logo{
  width: 60%;
  height: 60%;
}

nav .logo{
  animation: fadeIn 0.5s, slideInRight 0.5s ease-in;
  height: 60%;
}
/*---------Loader------------*/
:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;
}

.loader {
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}
/*------Home Page------*/
.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-position: center;
  background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
  ), url('jenga.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home{
  margin-top: 30vh;
}


/*------Auth Modal------*/
.auth-modal {
  position: absolute;
  height: fit-content;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 475px;
  height: 475px;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  padding: 40px;
  transition: all 0.3s;
  animation: fadeIn 0.5s;
  
}

.auth-modal::after{
  position: absolute;
  height: fit-content;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 475px;
  height: 475px;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  padding: 40px;
  transition: all 0.3s;
  animation: fadeOut 1.5s;
}
.auth-modal .close-icon {
  float: right;
}

.auth-modal form{
  display: flex;
  flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email]{
  padding: 8px;
  margin: 8px;
  font-size: 17px;
}

.auth-modal input[type=password]:hover::placeholder,
.auth-modal input[type=email]:hover::placeholder{
  color:  rgb(221,39,22);
}


/*------Onboarding Page------*/
.onboarding{
  border-top: 1px rgb(154,154,154);
  background: url('jenga 2.png');
  background-size: cover;
}

.onboarding h1{
  font-size: 35px;
  margin: 0px;
  animation: fadeIn 2s;
}

.onboarding h2{
  margin: 0px;
  font-size: 25px;
  animation: fadeIn 2s;
}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}
/*Input data fields for name, url, and about*/
.onboarding form input{
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
  animation: fadeIn 4s;
}

.onboarding form input:hover::placeholder{
  color:  rgb(221,39,22);
}
.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
/*UI Labels*/
.onboarding form label {
  margin: 10px 0;
  animation: fadeIn 1s;
}
/*UI Selector Fields*/
.onboarding form .multiple-input-container{
  display: flex;
  flex-direction: row;
  animation: fadeIn 4s;
}
.onboarding form .multiple-input-container input{
  margin-right: 10px;
  
}
.onboarding form .multiple-input-container input:hover::placeholder{
  color:  rgb(221,39,22);
}
.onboarding form .multiple-input-container label{
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgb(255,255,255);
}

.onboarding form input[type="radio"]{
  display: none;
  
}

.onboarding form input[type="radio"]:checked+ label{
  border: solid 2px rgb(221,39,22);
}
/*When button is pressed, it's label doesn't hover on webpage*/
.onboarding form input[type="radio"]:checked+ label:hover{
  transform: none;
  color:  rgb(0,0,0);
}
/*Unselected buttons hover on webpage*/
.onboarding form input[type="radio"]:hover+label{
  transition:all 0.3s;
  color:  rgb(221,39,22);
  transform: translateY(-5px);
}

.onboarding form input[type="number"]{
  width: 10%;
}

.onboarding form input[type="submit"]{
  transition:all 0.3s;
}

.onboarding form input[type="submit"]:hover{
  color: rgb(207, 89, 78);
  background-color: rgb(235,235,235);
  transform: translateY(-5px);
}

.onboarding form input[type="submit"]:active{
  color: rgb(235,235,235);
  background-color: rgb(226,115,155);
}

.onboarding form .photo-container img{
  width: 100%;
}

/*------Dashboard Page(tindercards component)------*/


.tindercards{
  display: flex;
 justify-content: space-between;
}

.tindercards .tinderCards{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe{
  position: absolute;
}

.tindercards .tinderCards_cardContainer{
  width: 400px;
  height: 650px;
  
}

.card{
  background-color: #fff;
  width: 400px;
  height: 650px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  animation: fadeIn 0.5s;
  
}
.swipeButtons{
  animation: fadeIn 2s;
  
}
.header{
  animation: fadeIn 1s;
  
}
.header_logo{
  animation: fadeIn 1s;
}
.card h3{
  margin-top: 0;
}
